extends _partial/layout

block content
  header
    span#toggle
      i.fa.fa-paper-plane-o
      | 本站介绍
      .nav#navToggle
        .line
        .line
        .line
        ul#links.hide
          li
            a(href="/") 首页
          li
            a(href="/introduction" style="color:#14a5bc") 本站介绍
          li
            a(href="https://fc.fanqier.com/f/flxdav") 提交网址
  .container
    article
      div.time
        span!= '更新于 ' + date(page.date, 'YYYY.MM.DD')
      .content!=page.content

  script.
    if (window.innerWidth < 500) {
      var navToggle = document.getElementById('navToggle')
      var links = document.getElementById('links')
      navToggle.addEventListener('click', function (event) {
        event.stopPropagation()
        links.className = links.className == 'hide' ? '' : 'hide'
      })
    }
